.cart_page {
  padding: 40px;
  font: 16px "URW Gothic L", sans-serif;
  display: flex;
  flex-direction: column;
}

.total_price {
  margin-left: 20px;
}

.checkout_section {
  margin-top: 50px 0 60px 0;
}

.checkout_card {
  background-color: white;
  margin-top: 40px;
  box-shadow: rgba(61, 255, 187, 0.4) 0px 5px, rgba(61, 255, 187, 0.3) 0px 10px,
    rgba(61, 255, 187, 0.2) 0px 15px, rgba(61, 255, 187, 0.1) 0px 20px,
    rgba(61, 255, 187, 0.05) 0px 25px;
  border: 3px solid yellow;
  border-radius: 10px;
  overflow: hidden;
  transform: translateX(100vw);
  transition: all ease 1s;
}

.open {
  transform: translateX(0vw);
}

.user_cart_items {
  padding: 1px 10px;
  background-color: rgba(242, 98, 170, 0.519);
  border-bottom: 2px rgb(49, 4, 84) solid;
}

@media screen and (max-width: 375px) {
  .cart_page {
    padding: 10px;
  }
}

@media screen and (min-width: 648px) {
  .cart_page {
    align-items: center;
    padding: 80px 60px;
  }
  .checkout_section {
    width: 475px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1150px) {
  .cart_page {
    width: 80px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .checkout_section {
    margin-left: 50px;
  }
}
