body {
  margin: 0;
  width: 100%;
  background-color: rgb(99, 168, 241);
}

.category_label {
  color: greenyellow;
  font: small-caps 20px "Gill Sans", sans-serif;
}

.err_text {
  color: red;
  font: 16px "Verdana", sans-serif;
  text-align: center;
  margin-top: 50px;
}

.err_text2 {
  color: blue;
  font: 12px "Verdana", sans-serif;
  font-weight: 200;
}

.nav_link {
  text-decoration: none;
}

.not_found_text {
  color: blue;
  font: 20px "Verdana", sans-serif;
  text-align: center;
}

.error_text_card {
  position: absolute;
}
